<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">





    <title>Reliable-Restaurant</title>
    <link rel="stylesheet" type = text/css href=./static/style1.css>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  </head>
  <body>

    <section>
      <input type="checkbox" id="check">
      <header>
        </div>
        <h2><a href="#" class="logo">Reliable Restaurants</a></h2>
        <div class="navigation">
          <!-- <a href="#">Home</a> --!>
          <!--<a href="#about">About the Website</a> --!>

         <!--         --!>
         <a href="/predict_success_of_resto">Predict The Success</a>
          <a href="/predict_rating_of_resto"> Predict the Rating </a>
          <a href="https://app.powerbi.com/reportEmbed?reportId=1dd4502c-b3af-4540-87c6-1f5bebc395d0&autoAuth=true&ctid=72a8ad07-6583-4891-b41b-391b1de6aab6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLWNlbnRyYWwtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9">Dashboard</a>
            <a href="#info">Developer</a>
          <!-- <a href="/rest_recommend">Recommendation</a> -->
        </div>
        <label for="check">
        <i class="fas fa-bars menu-btn"></i>
        <i class="fas fa-times close-btn"></i>
        </label>
      </header>
      <div class="content" style="margin-top: 3%;">   <!-- here i managed the space between logo and content --!>
        <div class="info">
          <h2>Know Your Favourite Restaurants <br><span>In A Better Way</span></h2>
          <p> "Spending some time figuring out from which restaurants to order from or
              which restaurants to visit will always give proper service,food to the amount of money
              being paid "</p>
          <a href="#about" class="info-btn">More info</a>
        </div>
      </div>
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/raj-parmar-1ba2b51a9/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Raj120312"><i class="fab fa-github"></i></a>

      </div>
    </section>

    <section id="about">
      <h2>About Reliable Restaurants</h2>
      <p class="about-content" style="text-align: center;">Reliable Restaurants  is a web application which have
        Machine Learning models running at the backend. The purpose of developing this app is to
        predict whether restaurants present at a particular location are / will be
        successful or not and to predict the restaurant rating. This model is based on the Zomato Restaurant
        dataset of Bangalore City received from the Zomato API. We are targeting a particular city i.e Bengaluru because
        according to reports Bengaluru, on an average, orders more than Rs 3,536 worth of food per month, compared to the national average of Rs 2,500.
        It also has the third- largest organized food service market at Rs more than 20,014 crore, after Delhi (Rs 31,132 crore) and Mumbai (Rs 27,540 crore).
        Bengaluru being one such city has more than 12,000
        restaurants with restaurants serving dishes from all over the world.
        With each day new restaurants opening ,the industry has'nt been saturated
        yet and the demand is increasing day by day.Despite of increasing demand it however has
        becomes difficult for new restaurants to compete with established restaurants.
        Most of them serving the same food. Bengaluru being an IT capital of India.
         Most of the people here are dependent mainly on the restaurant food as they don't have time
         to cook for themselves. With such an overwhelming demand of restaurants it has
         therefore become important to study the demography of a location.
          Zomato is one of the best online food delivery apps which gives the users the ratings and the
         reviews on restaurants all over india.These ratings and the Reviews are considered as one of the
         most important deciding factors which determine how good a restaurant is.


      </p>
    </section>

    <section id="dashboard">
      <h2>Dashboard</h2>
          <p>This Dashboard overview was made using Microsoft Paint Software . Here I have attached the images of
             of the Data Visualization which was done with the help of Jupyter Notebook which is open-source software, open-standards, and services for interactive computing.
              Here is the<a href="https://app.powerbi.com/reportEmbed?reportId=1dd4502c-b3af-4540-87c6-1f5bebc395d0&autoAuth=true&ctid=72a8ad07-6583-4891-b41b-391b1de6aab6&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLWNlbnRyYWwtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" style="color: black; font-weight: bold;">Dashboard</a> page .The usage of dashboards
              like these is to bring a better understanding about the dataset and also to bring some beautiful insights</p>
      <img class="dashboard-image" src="../static/overall.png" alt="1">

    </section>
    
    <section id="info">
      <div>
        <img src="../static/Raj.jpeg" alt="Raj">
      </div>
      <div>
        <h2>Developer</h2>
        <p class="about-content"> Hi, I'm Raj Parmar, an enthusiast learner 🚀 from India.
          Currently, I'm gaining some knowledge on  Machine Learning . Now currently I am trying
          to do some self - paced projects in data science I am also trying
          to do some internships . Always curious to learn something new in
          the field of Technology. Besides programming, I enjoy playing games and watching youtube.
          Below I have given my social media links. Happy to have new connections.</p>
      </div>
    </section>

    <footer>
      <p>
        Developed with ❤ by Raj
      </p> 
      <div class="media-icons">
        <a href="https://www.linkedin.com/in/raj-parmar-1ba2b51a9/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Raj120312"><i class="fab fa-github"></i></a>

      </div>
    </footer>

  </body>
</html>
